#di {

  .border-left {
    border-left: 1px solid rgba($foreground,0.1);
  }

  // N A V I G A T I O N
  .nav-list,
  .controls-list {
    margin-left: -13px;
    width: calc(100% + 27px); // stretch to fill column
    position: relative;
    li {
      line-height: 17px;
      margin-bottom: 1px;
    }
    a,
    button {
      display: block;
      padding: 4px 13px 6px;
      width: 100%;
      text-align: left;
      min-height: 29px;
    }
  }
  .nav-list__sub-nav,
  .controls-list__sub-nav {
    margin-top: 1px;
    li {
      padding-left: 1em;
      background: none;
      margin-bottom: 1px;
    }
    button:before,
    a:before {
      content: '— ';
      color: rgba($foreground,0.2);
    }
  }
  .nav-list__link {
    span {
      padding: 0 4px 6px 0;
      background: $background;
      box-shadow: 0 1px 0 $highlight;
    }
    &:hover {
      color: $highlight;
    }
  }
  .controls-list i {
    float: right;
    position: relative;
    top: 5px;
    transform-origin: center;
    transform: scale(0.8);
  }
  .controls-list button {
    position: relative;
  }

  // Button Hover States
  .controls-list button:hover {
    background: rgba($foreground,0.1);
    cursor: pointer;
  }

  .di-interface-is-closed {
    max-width: 0;
    padding: 0;
    opacity: 0;
    transition: all 180ms ease-out;
    z-index: 0;
  }
}
