#di {
  .key-number__message {

  }
  .key-number__message__result {
    display: inline-block;
    font-size: 20px;
    color: $highlight;
    line-height: 1;
    margin: 0 0 2px 6px;
    position: relative;
    padding: 0 4px;
    text-align: center;
    &:first-of-type {
      border-right: 2px solid rgba($foreground,0.5);
      min-width: 1.5em;
      padding-left: 0;
    }
    &:last-of-type {
      min-width: 2em;
    }
  }
}
