// T Y P E
#di {
  font-family: "Karla", sans-serif;

  // I C O N S
  $icon: 10px;
  $icon-active: 10px;
  .icon-circle {
    background: $foreground;
    border-radius: 50%;
    display: inline-block;
    height: $icon;
    width: $icon;
  }
  .icon-circle--active {
    background: $highlight;
    height: $icon-active;
    width: $icon-active;
  }
  .icon-square {
    background: $foreground;
    display: inline-block;
    height: $icon;
    width: $icon;
  }
  .icon-square--active {
    background: $highlight;
    height: $icon-active;
    width: $icon-active;
  }
  .icon-triangle-up {
    border-color: transparent transparent $foreground transparent;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    display: inline-block;
    height: 0;
    width: 0;
  }
  .icon-triangle-right {
    border-color: transparent transparent transparent $foreground;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    display: inline-block;
    height: 0;
    width: 0;
  }
  .icon-triangle-down {
    border-color: $foreground transparent transparent transparent;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    display: inline-block;
    height: 0;
    width: 0;
  }
  .icon-triangle-left {
    border-color: transparent $foreground transparent transparent;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    display: inline-block;
    height: 0;
    width: 0;
  }
  .icon-cross-large,
  .icon-cross-large:after {
    background: $highlight;
    display: inline-block;
    height: 2px;
    position: relative;
    transform-origin: center;
    width: 18px;
  }
  .icon-cross-large {
    top: -4px;
    transform: rotate(-45deg);
  }
  .icon-cross-large:after {
    content: '';
    transform: rotate(90deg);
  }

  // BUTTONS
  .btn {
    background: $background;
    min-height: 29px;
    padding: 4px 13px 6px;
    text-align: left;
    &:hover {
      background: rgba($foreground,0.1);
    }
  }
  .btn--long {
    display: block;
    max-width: 480px;
    width: 100%;
  }
  .btn--active {
    color: $highlight;
    i {
      background: $highlight;
      transform: scale(1);
    }
  }
  .btn--square {
    min-height: 39px;
    min-width: 39px;
    padding: 10px 10.5px;
    text-align: center;
    width: auto;
  }
  .btn--sub {
    padding-left: 26px;
    &:before {
      content: '— ';
      color: rgba($foreground,0.2);
    }
  }
  .btn__icon {
    float: right;
    margin-top: 5px;
    transform: scale(0.8);
  }
  .link-btn {
    background: $background;
    border: none;
    display: inline-block;
    max-width: 480px;
    min-height: 29px;
    padding: 4px 13px 6px;
    text-align: left;
    &:hover {
      color: $highlight;
    }
  }
  .link-btn--long {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .link-btn__underline {
    border-bottom: 1px solid $highlight;
    padding-bottom: 6px;
  }
}
// di
